@font-face {
    font-family: 'Muller';
    src: url('../font/MullerLight.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('../font/MullerBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 'Muller', sans-serif;
    background-color: rgba(20,19,24,1);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    position: relative;
    max-width: 428px;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(20,19,24,1)
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.header {
    position: relative;
    padding-top: 40px;
    margin-bottom: 200px;
}

.logo {
    width: 202px;
    height: auto;
    padding: 0 25px;
}

.profile-photo {
    width: 215px;
    height: 215px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    top: 75px;
    left: 50%;
    transform: translateX(-10%);
}
.object {
    width: 35px;
    height: 35px;
    object-fit: cover;
    position: absolute;
    top: 160px;
    left: 14%;
}
.red-line {
    width: 100px; /* Ширина линии */
    height: 2px; /* Высота линии */
    background-color: rgba(238, 29, 36, 1); /* Цвет линии */
    margin-left: 20px; /* Левый отступ */
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}
/* Buttons */
.actions {
    display: flex; /* Располагаем кнопки по горизонтали */
    gap: 1rem; /* Отступ между кнопками */
    justify-content: center; /* Центрирование кнопок */
}
/* Responsive Design */
@media screen and (max-width: 428px) {
    .card {
        padding: 15px;
    }

    .profile-photo {
        width: 150px;
        height: 150px;
        top: 55px;
    }

    .logo {
        width: 165px;
    }

    .header {
        margin-bottom: 150px;
    }
}

@media screen and (max-width: 320px) {
    .card {
        padding: 10px;
    }

    .profile-photo {
        width: 120px;
        height: 120px;
        top: 50px;
    }

    .logo {
        width: 150px;
    }

    .header {
        margin-bottom: 120px;
    }
}